version: '3.1'
services:
  zookeeper:
    image: zookeeper
    hostname: zookeeper
    ports:
      - "2181:2181"
  kafka:
    build: .
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: 127.0.0.1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - zookeeper
  # cmak:
  #   image: kafkamanagerdocker:latest
  #   restart: always
  #   command:
  #     - "-Dcmak.zkhosts=zookeeper:2181"
  #   ports:
  #     - "9000:9000"
  #   depends_on:
  #     - zookeeper